{% extends 'base.html' %}
{% load static %}
{% load recipes_filter %}
{% block title %}{{ title }}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'recipes/pages/index.css' %}">{% endblock %}
{% block content %}
{% csrf_token %}
    {% include 'tags_table.html' with title=title tags=tags %}
    <div class="card-list">
        {% for recipe in object_list %}
            {% include 'recipe_item.html' with recipe=recipe %}
        {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
        {% include 'paginator.html' with items=page_obj paginator=paginator %}
    {% endif %}

{% endblock %}
{% block scripts %}
    <script src="{% static 'recipes/js/components/MainCards.js' %}"></script>

    <script src="{% static 'recipes/js/components/Purchases.js' %}"></script>
    <script src="{% static 'recipes/js/components/Favorites.js' %}"></script>

    <script src="{% static 'recipes/js/config/config.js' %}"></script>
    <script src="{% static 'recipes/js/components/CardList.js' %}"></script>
    <script src="{% static 'recipes/js/components/Header.js' %}"></script>

    <script src="{% static 'recipes/js/api/Api.js' %}"></script>
    {% if request.path == '/' %}
        <script src="{% static 'recipes/indexAuth.js' %}"></script>
    {% elif request.path == '/favorites/' %}
        <script src="{% static 'recipes/favorite.js' %}"></script>
    {% endif %}
{% endblock %}
