{% extends 'base.html' %}
{% load static %}
{% block title %}Добро пожаловать на Anygram{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'recipes/pages/myFollow.css' %}">{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {{ object_list.0.first_name }}
        {% for item in object_list.all %}
        <div class="card-user" data-author="{{ item.username }}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{ item.first_name }}</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                    {% for recipe in item.recipes %}
                    <li class="card-user__item">
                        <div class="recipe">
                            <img src="./images/testCardImg.png" alt="какой-то-текст" class="recipe__image">
                            <h3 class="recipe__title">Французские тосты</h3>
                            <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="card-user__item">
                        <a href="#" class="card-user__link link">Еще 7 рецептов...</a>
                    </li>
                </ul>
            </div>
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
        {% include 'paginator.html' with items=page_obj paginator=paginator %}
    {% endif %}

{% endblock %}
{% block scripts %}
    <script src="{% static 'recipes/js/components/MainCards.js' %}"></script>

    <script src="{% static 'recipes/js/components/MyFollow.js' %}"></script>
    <script src="{% static 'recipes/js/components/Subscribe.js' %}"></script>

    <script src="{% static 'recipes/js/config/config.js' %}"></script>
    <script src="{% static 'recipes/js/components/Header.js' %}"></script>

    <script src="{% static 'recipes/js/api/Api.js' %}"></script>
    <script src="{% static 'recipes/myFollow.js' %}"></script>
{% endblock %}
