{% extends 'base.html' %}
{% load static %}
{% block title %}Добро пожаловать на Anygram{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'recipes/pages/myFollow.css' %}">{% endblock %}
{% block content %}
    {% include 'tags_table.html' with title=title %}
    <div class="card-list">
        {% for recipe in object_list %}
            {% include 'recipe_item.html' with recipe=recipe %}
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        {% include 'paginator.html' with items=page_obj paginator=paginator %}
    {% endif %}

{% endblock %}
{% block scripts %}
    <script src="{% static 'recipes/js/components/MainCards.js' %}"></script>

    <script src="{% static 'recipes/js/components/MyFollow.js' %}"></script>
    <script src="{% static 'recipes/js/components/Subscribe.js' %}"></script>

    <script src="{% static 'recipes/js/config/config.js' %}"></script>
    <script src="{% static 'recipes/js/components/Header.js' %}"></script>

    <script src="{% static 'recipes/js/api/Api.js' %}"></script>
    <script src="{% static 'recipes/myFollow.js' %}"></script>
{% endblock %}
