{% load recipes_filter %}
<div class="card" data-id="{{ recipe.pk }}">
    <img src="{{ recipe.image.url }}" alt="Фото рецепта" class="card__image">
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.slug %}">{{ recipe.title }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
                <li class="card__item"><span class="{{ tag.color }}">{{ tag.title }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span>{{ recipe.duration }} мин.</p>
            <p class="card__text"><span class="icon-user"></span><a href="{% url 'index_author' recipe.author.username %}" style="color: black">{{ recipe.author.first_name }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% recipe_in_cart recipe.pk as in_cart %}
        {% if in_cart %}
            <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Рецепт добавлен</button>
        {% else %}
            <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        {% endif %}
        {% if user.is_authenticated %}
            {% is_favorite recipe user as is_active %}
            {% if is_active %}
                <button class="button .icon-favorite_active active" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
            {% else %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
            {% endif %}
        {% endif %}
    </div>
</div>