{% extends 'base.html' %}
{% load static %}
{% load recipes_filter %}
{% block title %}{{ title }}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'recipes/pages/shopList.css' %}">{% endblock %}
{% block content %}
    {% csrf_token %}
        <div class="main__header">
            <h1 class="main__title">{{ title }}</h1>
        </div>
        <div class="card-list card-list_column">
            <ul class="shopping-list">
            {% for recipe in object_list %}
                <li class="shopping-list__item" data-id="{{ recipe.pk }}">
                    <div class="recipe recipe_reverse">
                        <img src="{{ recipe.image_url }}" alt="фото рецепта" class="recipe__image recipe__image_big">
                        <h3 class="recipe__title">{{ recipe.title }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.duration }}</p>
                    </div>
                    <a href="{% url 'delete_from_cart' recipe.pk %}" class="shopping-list__button link">Удалить</a>
                </li>
            {% endfor %}
            </ul>
            {% if cart|length > 0 %}
                <a href="{% url 'cart_download' %}"><button class="button button_style_blue">Скачать список</button></a>
            {% endif %}
        </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'recipes/js/config/config.js' %}"></script>
    <script src="{% static 'recipes/js/components/Header.js' %}"></script>
    <script src="{% static 'recipes/js/components/ShopList.js' %}"></script>

    <script src="{% static 'recipes/js/api/Api.js' %}"></script>
    <script src="{% static 'recipes/shopList.js' %}"></script>
{% endblock %}